<!--Set up the head of the page-->
<head>
  <meta charset="UTF-8">
  <title>Blog Posts</title>
  <link rel="stylesheet" href="/css/jass.css">
  <!--<link rel="stylesheet" href="/css/style.css">-->
</head>

<body>
  <div class="flex-column justify-space-around">
     {{{ body }}}
  </div>
  </body>

</html>


