<!--Set up the header-->
<header class="col-12 container-fluid custom-header">
  <nav class="col-12 custom-nav">
    <a class="custom-nav-text" href="/">Home</a>
    <a class="custom-nav-text" href="/dashboard">Dashboard</a>
    {{#if logged_in}}
    <a class="custom-nav-text" id="logout" href="/login">Logout</a>
    {{else}}
    <a class="custom-nav-text" href="/login">Login</a>
    {{/if}}
  </nav>
  <div class="header-type col-12 col-md-3 text-center">Your Dashboard</div>
</header>
<!--Set up the main-->
<main class="container container-fluid">
  {{#if blogs.length}}
  <div class="row pt-4">
    {{#each blogs as |blog|}}
    <a href="dashboard/{{blog.id}}" class="btn btn-primary col-12 custom-button custom-link mb-3"><span>{{blog.title}}</span><span>{{format_date blog.date_created}}</span></a>
    {{/each}}
  </div>
  {{/if}}
</main>
<footer>
  <div class="d-grid gap-2 col-2 mx-auto">
    <button class="custom-create-btn" type="button" id="new-blog">+ New Post</button>
  </div>
</footer>


<script src="./js/newBlog.js"></script>