<!--Set up the header-->
<header class="display-flex justify-space-between align-center p-2">
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </nav>
  <div>The Tech Blog</div>
</header>
<!--Set up the main-->
<main>
</main>