<!--Set up the header-->
<header class="col-12 container-fluid custom-header">
  <nav class="col-12 custom-nav">
    <a class="custom-nav-text" href="/">Home</a>
    <a class="custom-nav-text" href="/dashboard">Dashboard</a>
    <a class="custom-nav-text" href="/login">Login</a>
    <a class="custom-nav-text" href="/logout">Logout</a>
  </nav>
  <div class="header-type col-12 col-md-3 text-center">The Tech Blog</div>
</header>
<!--Set up the main-->
<main class="container container-fluid">
</main>