<header class="col-12 container-fluid custom-header">
  <nav class="col-12 custom-nav">
    <a class="custom-nav-text" href="/">Home</a>
    <a class="custom-nav-text" href="/dashboard">Dashboard</a>
    {{#if logged_in}}
    <a class="custom-nav-text" id="logout" href="/login">Logout</a>
    {{else}}
    <a class="custom-nav-text" href="/login">Login</a>
    {{/if}}
  </nav>
  <div class="header-type col-12 col-md-3 text-center">The Tech Blog</div>
</header>
<main class="container container-fluid custom-container">
  <div class="row">
    <div class="col-12">
      <div class="card custom-card mt-4">
        <div class="card-header custom-header bold-text">
          Sign Up
        </div>
        <div class="card-body">
          <form class="form signup-form">
            <div class="form-group">
              <label for="username-login">Username</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="password-login">Password</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary col-12 custom-button center-align" type="submit">Sign Up!</button>
            </div>
          </form>
          <a href="/login">Login instead</a>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="./js/signup.js"></script>
