:root {
  --primary: #8FBC8B;
  --secondary: #2b0b01fd;
  --light: #dddcdc;
}

body {
  position: relative;
  background-color: var(--primary);
  font-size: 18px;
}

main {
  color: var(--secondary);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 23px;
}

input {
  font-size: 23px;
}

.custom-header {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  font-size: 23px;
}

.custom-nav-text {
  color: var(--primary);
  font-weight: bold;
  padding-right: 15px;
}

.custom-nav {
  margin-top: 15px;
}

.header-type {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
}

.custom-container {
  max-width: 100% !important;
}

.custom-card {
  border: 3px solid #1a1a1a !important;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.custom-button {
  background-color: #7e7b7b !important;
  color: var(--light) !important;
}

.custom-create-btn {
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 10px;
  padding: 8px;
  border: 0px;
  font-size: 160%;
  max-width: 300px;
}


.custom-button:hover {
  border-color: #7e7b7b !important;
}


.bold-text {
  font-weight: bold;
}
