:root {
  --primary: #8FBC8B;
  --secondary: #2b0b01fd;
  --tertiary: #fa7f72;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  background-color: var(--primary);
  font-size: 18px;
}

main {
  color: var(--secondary);
}

label {
  font-weight: bold;
  font-size: 23px;
}

input {
  font-size: 23px;
}

.custom-header {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  font-size: 23px;
}

.custom-nav-text {
  color: var(--primary);
  font-weight: bold;
  padding-right: 15px;
}

.custom-nav {
  margin-top: 15px;
}

.header-type {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 30px;
}

.custom-container {
  max-width: 100% !important;
}

.custom-card {
  border: 3px solid #1a1a1a !important;
  background-color: var(--primary) !important;
  color: var(--secondary) !important;
}

.custom-button {
  background-color: #7e7b7b !important;
  color: #dddcdc !important;
}


.bold-text {
  font-weight: bold;
}
