:root {
  --primary: #8FBC8B;
  --secondary: #2b0b01fd;
  --tertiary: #fa7f72;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-size: 23px;
}

main {
  background-color: var(--primary);
  color: var(--secondary);
}

.custom-header {
  background-color: var(--secondary);
  color: var(--primary);
}

.custom-nav-text {
  color: var(--primary);
  font-weight: bold;
  padding-right: 10px;
}

.custom-nav {
  margin-top: 15px;
}

.header-type {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  font-size: 30px;
}


